# Dependency directories
node_modules/

# Environment variables file
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and build files
*.log
*.tsbuildinfo
build/
dist/
out/
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Testing files
coverage/

# IDE files
*.sublime-workspace
*.sublime-project
*.iml

# Miscellaneous
npm-debug.log*
yarn-error.log*
.pnp.*

# Custom exclusions
*.xlsx        # Ignore Excel files
userdata/     # Ignore user data directory